.settings
.project
.vscode
README.md

domain/.settings
domain/.project
domain/target
domain/.classpath

facade/.settings
facade/.project
facade/target
facade/.classpath

infrastructure/.settings
infrastructure/.project
infrastructure/target
infrastructure/.classpath

presentation/.settings
presentation/.project
presentation/target
presentation/.classpath
